body {
    height:100%;
}

#map {
    float:left;
    height:400px;
    width:500px;
}

#routePtsDiv {
    float:left;
    width:300px;
    background: rgb(240,240, 240);
    border-style: inset;
    height:400px;
}

#debug {
    clear:both;
    width:100%;
    background: rgb(255,200,200);
    height: 100px;
    overflow: scroll;
}

#gpxDiv {
    float:left;
    width:400px;
    background: rgb(200,200, 200);
    border-style: outset;
    height:300px;
    overflow:scroll;
}
